html, body, div, ol, ul, li, fieldset, form, legend {
    margin: 0;
    padding: 0;
    border: 0;
    /* inherits the browser's font properties: font-size 16px */
    font: inherit;
    /*  specifies the vertical alignment of an inline element */
    vertical-align: baseline;

    box-sizing: border-box;

    /*  specifies the height of line boxes within the element. */
    line-height: 1;

    border-radius: 0;

    /* no outline around anything */
    outline: none;
}

ol, ul {
    /* no bullets in lists */
    list-style: none;
}

a {
    /* the color of the font for anchor tags is inherited */
    color: inherit;
    /* no underline */
    text-decoration: none;
}

button {
    /* turn the cursor into a pointing finger */
    cursor: pointer;
}

blockquote, q {
    /* no quotes */
    quotes: none;
}

table {
    /* no spacing between cells*/
    border-spacing: 0;
    /*borders are collapsed - adjacent table cells share borders */
    border-collapse: collapse;
}

/* specific css */
@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100vh;
    background-color: #eee;
    font-family: sans-serif;
}

div.main {
    display: flex;
    height: 100%;
}

.sidebar_logo_left {
    width: 40%;
    color: #fff;
    background-image: url('../images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_container {
    display: flex;
    justify-content: center;;
    align-items: center;
    width: 100%;
    margin-top: 40%;
    background: rgba(124, 114, 114, 0.3);
    padding: 10px;
}

img.brand_logo {
    width: 80px;
    height:fit-content;
}

h1.brand_name {
    font-family: 'Norse';
    font-size: 4em;
}

.photo_copyright {
    font-size: 10px;
    text-align: center;
}

.main_content_right {
    padding: 40px 0;
}

.top_description {
    padding: 40px 20px;
    font-weight: bold;   
}

.form_main {
    background-color: #fff;
    padding: 5px 20px;
}

p.table_header {
    padding: 10px 0;
    margin: 20px 10px;
}

.form_input_container {
    display: flex;
    flex-wrap: wrap;
}

.single_input_container {
    position: relative;
    margin: 10px 10px;
}

.single_input_container label {
    position: absolute;
    top: -10px;
    font-size: 8px;
    font-weight: bold;
}

input {
    border: 1px solid #eee;
    border-radius: 2px;
    width: 200px;
    appearance: none;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

input:invalid {
    border: 1px solid red;
}

.button_container {
    padding: 40px;
}

.button_container button {
    color: #fff;
    font-weight: bold;
    background-color: rgb(41, 78, 41);
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: #999 2px 2px 5px;
}

a.login_link {
    color: rgb(41, 78, 41);
}